#user-detail{
  margin: auto;
  max-width: 70em;

  .address{
    padding-top: 1.5em;
  }

  .tab-content{
    padding: {
      right: 1em; 
      left: 2em;
    }

    .tab-section{
      padding: {
        top:1.5em;
        bottom: 0.5em;
      } 
    }

    .insurance{
      margin: 1em 0;
    }

    .field-title{
      font-weight: 600;
      color: #585656;
      margin-right: 0.7em;
    }

    h2{
      color: #585656;
    }
  }
}