#user-detail{
  margin: auto;
  max-width: 70em;

  .tab-content{
    padding: {
      top: 1.5em;
      right: 1em; 
      left: 1em;
    }

    .insurance{
      margin: 1em;
    }

    .field-title{
      font-weight: bold;
      margin-right: 0.7em;
    }
  }
}