#footer{
  background-color: #00838F;
  padding: 1em 2em;
  box-sizing: border-box;
  height: 8vh;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}