

#new-user{
  margin: auto;
  max-width: 70em;

  form{
    display:flex;
    flex-direction: column;
    #user-type-buttons{
      button{
        margin: 0 0.5em;
      }
      @media ( max-width: 447px){
        button{
          margin-bottom: 0.5em;
        }
      }
    }
    
    #create-btn{
      align-self:flex-end;
    }

    mat-form-field{
      margin: 0.5em 1em;
    }

    .datepicker{
      max-width: 13em;
    }

    .insurance{
      margin: 1em;
      display:flex;
      flex-direction: column;
      button{
        align-self: flex-end;
      }
    }
  }

}