<mat-card id="new-user">
  <!-- <form #userForm="ngForm" validators (ngSubmit)="createUser(userForm)"> -->
  <form (ngSubmit)="createUser()" [formGroup]="newUserForm">
    <mat-vertical-stepper #stepper>

      <mat-step
        [stepControl]="(isPatient && newUserForm.controls['nhc']) || (!isPatient && newUserForm.controls['membershipNumber'])"
        errorMessage="Faltan campos por rellenar">
        <ng-template matStepLabel>Tipo de usuario</ng-template>

        <div id="user-type-buttons">
          <button mat-stroked-button color="accent" type="button" (click)="switchIsPatient(true)">Nuevo
            paciente</button>
          <button mat-button mat-stroked-button color="accent" type="button" (click)="switchIsPatient(false)">Nuevo
            profesional</button>
        </div>

        <div *ngIf="isPatient">
          <mat-form-field color="accent">
            <mat-label>Número historial clínica</mat-label>
            <input matInput name="nhc" formControlName="nhc" required>
          </mat-form-field>
        </div>

        <div *ngIf="!isPatient">
          <mat-form-field color="accent">
            <mat-label>Número colegiado</mat-label>
            <input matInput name="membershipNumber" formControlName="membershipNumber" required>
          </mat-form-field>

          <mat-form-field color="accent">
            <mat-label>Tipo de profesional</mat-label>
            <mat-select formControlName="professionalType">
              <mat-option value="">--</mat-option>
              <mat-option value="Médico">Médico</mat-option>
              <mat-option value="Enfermero">Enfermero</mat-option>
              <mat-option value="Administrativo">Administrativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-step>

      <mat-step [stepControl]="newUserForm.controls['name'] && newUserForm.controls['firstSurname']"
        errorMessage="Faltan campos por rellenar">
        <ng-template matStepLabel>Datos personales</ng-template>

        <mat-form-field color="accent">
          <mat-label>Nombre</mat-label>
          <input matInput name="name" formControlName="name" required>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Primer Apellido</mat-label>
          <input matInput name="firstSurname" formControlName="firstSurname" required>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput name="secondSurname" formControlName="secondSurname">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Género</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Hombre">Hombre</mat-option>
            <mat-option value="Mujer">Mujer</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="datepicker" color="accent" appearance="standard">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput formControlName="birthDate" [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>NIF o número de pasaporte</mat-label>
          <input matInput name="idDocument" formControlName="idDocument">
        </mat-form-field>
      </mat-step>

      <mat-step formGroupName="address">
        <ng-template matStepLabel>Dirección</ng-template>

        <mat-form-field color="accent">
          <mat-label>Calle</mat-label>
          <input matInput name="street" formControlName="street">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Número</mat-label>
          <input matInput name="number" formControlName="number">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Puerta</mat-label>
          <input matInput name="door" formControlName="door">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Código postal</mat-label>
          <input matInput name="postalCode" formControlName="postalCode">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Ciudad</mat-label>
          <input matInput name="city" formControlName="city">
        </mat-form-field>
      </mat-step> -->

      <mat-step *ngIf="isPatient">
        <ng-template matStepLabel>Aseguradoras</ng-template>

        <button mat-button type="button" (click)="addInsurance()">Añadir seguro</button>

        <mat-card class="insurance" formArrayName="insuranceList"
          *ngFor="let insurance of insuranceList.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field color="accent">
              <mat-label>Número de tarjeta</mat-label>
              <input matInput name="cardNumber" formControlName="cardNumber">
            </mat-form-field>

            <mat-form-field color="accent">
              <mat-label>Nombre de aseguradora</mat-label>
              <input matInput name="name" formControlName="name">
            </mat-form-field>

            <mat-form-field color="accent">
              <mat-label>Tipo de profesional</mat-label>
              <mat-select formControlName="insuranceType">
                <mat-option value="">--</mat-option>
                <mat-option value="Salud">Salud</mat-option>
                <mat-option value="Familiar">Familiar</mat-option>
                <mat-option value="Dental">Dental</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-stroked-button color="warn" type="button" (click)="removeInsurance(i)">Borrar aseguradora</button>
        </mat-card>
      </mat-step>

    </mat-vertical-stepper>

    <button [disabled]="!isFormValid()" id="create-btn" mat-raised-button color="primary" type="submit">Crear</button>
  </form>
</mat-card>