

#new-user{
  margin: auto;
  max-width: 70em;
 
  .insurance{
    margin: 1em;
  }
  form{
    display:flex;
    flex-direction: column;
    
    #create-btn{
      align-self:flex-end;
    }
  }

}