<div id="users">
  <div class="user" *ngFor="let user of users">
    <div class="information">

      <div *ngIf="isPatient(user)">
        <p>Paciente</p>
        <p>NHC: {{user.nhc}}</p> 
      </div>

      <div *ngIf="isProfessional(user)">
        <p>Profesional {{user.profesionalType}}</p>
        <p>Numero colegiado: {{user.membershipNumber}}</p>
      </div>
      
      <p>{{user.name}} {{user.firstSurname}} {{user.secondSurname}}</p>

    </div>

    <div class="options">
      <button routerLink="/users/{{user.id}}">Detalles</button>
      <button>Editar</button>
      <button (click)="deleteUser(user.id)">Eliminar</button>
    </div>
  </div>
</div>